# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.hypothesis/

# Environments
.env
.envrc
.venv
env/
venv/

# Poetry
# poetry.lock  # uncomment for applications, keep commented for libraries

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Tools
.ruff_cache/
.ropeproject

# mkdocs (only relevant if you kept mkdocs.yml + docs/)
/site
.cache/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
